$vs-primary: #7367F0 !default;
$vs-success: #28C76F !default;
$vs-danger: #EA5455 !default;
$vs-warning: #FF9F43 !default;
$vs-dark: #1E1E1E !default;

$primary: $vs-primary !default;
$success: $vs-success !default;
$warning: $vs-warning !default;
$danger: $vs-danger !default;
