**/.vs/**
**/bin/**
**/packages/**
**/obj/**
**/dist/**
**/node_modules/**
*.csproj.DotSettings
*.csproj.user
**/Web.Debug.config
**/Web.Release.config
**/.idea/.idea.*
**/*.nupkg
/Dashboard Kit health/public/AppSettings_1.json
