**/.vs/**
**/.vscode/**
**/bin/**
**/packages/**
**/obj/**
**/dist/**
**/node_modules/**
*.csproj.DotSettings
*.csproj.user
**/Web.Debug.config
**/Web.Release.config
**/.idea/.idea.*
**/*.nupkg
**/package-lock.json
/Dashboard Kit health/public/AppSettings_1.json
Applications/Eam/apollo.config.js
SmartId/SmartId/Log/
SmartId/SmartId/tempkey.rsa