loglevel=warn
@it-enterprise:registry=http://tfs2017.it.ua:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/
always-auth=true
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=4BD67245-F31C-4022-AD07-EA8E023393AE
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 9/10/2020.
; begin auth token
//tfs2017.it.ua:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiJjYzUxNjE3YS02NGRmLTRiMzYtOTUxMy05YThmODNmNDg2NGMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNWViNjI2M2QtMjMzMS00NTRkLWIyYmEtOGYzNGI5ZDhiYTViIiwic2lkIjoiMTY5YWQ5MGYtYzUyOC00ZDY1LWE3NWEtYTg4YmFiMTgxZDQ5IiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1OTE5NjYxNjUsImV4cCI6MTU5OTc0MjE2NX0.n3gaHDQpEtALepmM28TNx_oomesgFFLN7LbQDJ7SfS1mU2_Nc3eXbdcq3fk-5nDHla2YQQT4RfmnhdoM2jB6LznMA3G0KJvbGR8A7kfA-Q8rd1ACCXPeF75-0Fr4X-3lqhul8qJU12EDDgkCvwCuMpBBPZPyxLqAkTVZlAeE0UJ1U8YdAugbltQpQmAiUB9E35ElMBqUG7Qom2-f9P7YuiBmmf6_XqHWDxu0T4hi-qJYuiSGhE8r6MQc_xBRWqHE8Cma0DcN3YjbyqcarmzN38kHbdaPagazKC5OjsgqMNhUo2BgTURG86N24E4VkSZjgCrMMhcZnLwUaVQTyd4KrQ
//tfs2017.it.ua:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiJjYzUxNjE3YS02NGRmLTRiMzYtOTUxMy05YThmODNmNDg2NGMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNWViNjI2M2QtMjMzMS00NTRkLWIyYmEtOGYzNGI5ZDhiYTViIiwic2lkIjoiMTY5YWQ5MGYtYzUyOC00ZDY1LWE3NWEtYTg4YmFiMTgxZDQ5IiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1OTE5NjYxNjUsImV4cCI6MTU5OTc0MjE2NX0.n3gaHDQpEtALepmM28TNx_oomesgFFLN7LbQDJ7SfS1mU2_Nc3eXbdcq3fk-5nDHla2YQQT4RfmnhdoM2jB6LznMA3G0KJvbGR8A7kfA-Q8rd1ACCXPeF75-0Fr4X-3lqhul8qJU12EDDgkCvwCuMpBBPZPyxLqAkTVZlAeE0UJ1U8YdAugbltQpQmAiUB9E35ElMBqUG7Qom2-f9P7YuiBmmf6_XqHWDxu0T4hi-qJYuiSGhE8r6MQc_xBRWqHE8Cma0DcN3YjbyqcarmzN38kHbdaPagazKC5OjsgqMNhUo2BgTURG86N24E4VkSZjgCrMMhcZnLwUaVQTyd4KrQ
; end auth token
