loglevel=warn
@it-enterprise:registry=http://tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 27.04.2020.
; begin auth token
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiI5YmNhNzQ5Mi1kMjIzLTQyM2UtOTFjNC00ZTA1ZDlhNWE0ZGMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNjg2OWYwMTQtMWRjYy00YWRkLWIxYzktMzhiOGEyMjhhM2IzIiwic2lkIjoiMDcxN2Q0YjItZTgzMy00NDhjLWI1N2EtYTY1M2QyZjgyMDYwIiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1ODAyMjMzNTQsImV4cCI6MTU4Nzk5OTM1NH0.xrSe25KVZA3Yrvsfm6aLFYobOOamW43kdQVxWc_yQFGS6wI-U2MNcxUrDhFBPhevMBrh29Cks667-e-WGcVwQY2DuPt3zmNzcPu7qUxYktG7-CuMQLr_3Ug2wDTb4pT59a6rElr8vnGTHAbDIyoXkWRTExBK7SHvp5jcAfoMmInZRlUc-_Elj55Z_jKK0WzdQnzv2oBfcu_EPRv5soVQNU3x5lh-Y35Q1oop6YOUanJc6UYHYBBAv18jndo_B2kVNymT1FjbMYegTXd45oIU8V7z48A4w9FXHyuC0hset_T1to_2NGla4wZarcuig5AlIQlSpxYDVPEYClF8vvso0g
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiI5YmNhNzQ5Mi1kMjIzLTQyM2UtOTFjNC00ZTA1ZDlhNWE0ZGMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNjg2OWYwMTQtMWRjYy00YWRkLWIxYzktMzhiOGEyMjhhM2IzIiwic2lkIjoiMDcxN2Q0YjItZTgzMy00NDhjLWI1N2EtYTY1M2QyZjgyMDYwIiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1ODAyMjMzNTQsImV4cCI6MTU4Nzk5OTM1NH0.xrSe25KVZA3Yrvsfm6aLFYobOOamW43kdQVxWc_yQFGS6wI-U2MNcxUrDhFBPhevMBrh29Cks667-e-WGcVwQY2DuPt3zmNzcPu7qUxYktG7-CuMQLr_3Ug2wDTb4pT59a6rElr8vnGTHAbDIyoXkWRTExBK7SHvp5jcAfoMmInZRlUc-_Elj55Z_jKK0WzdQnzv2oBfcu_EPRv5soVQNU3x5lh-Y35Q1oop6YOUanJc6UYHYBBAv18jndo_B2kVNymT1FjbMYegTXd45oIU8V7z48A4w9FXHyuC0hset_T1to_2NGla4wZarcuig5AlIQlSpxYDVPEYClF8vvso0g
; end auth token