loglevel=warn
@it-enterprise:registry=http://tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 4/28/2019.
; begin auth token
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiI3ZTlhOWVjNS1mOTJmLTQyMGUtOTdkZS0wMDZjOTY0YmYwMmEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMGQ3MzI5YmMtNTI1Ni00MmU2LTkxZGEtNzQzYTNhZmUwOGRmIiwic2lkIjoiN2NmOWYwMzktYWU3MC00YWJmLWEyNTItZDVjYTViNjZjNDY2IiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1NDg2NjYzNDcsImV4cCI6MTU1NjQ0MjM0N30.HNxgyVUCQ2uWWuyam2zkoZiULYlgjczSATT_F1jA-p-ldZSPP2lCKm4fpeFrlh1ABPlOv-WNBJahuuGS-9tIqg0SAyxvPy-SyEe_3YAiq2hYw8hV3SRnT-qmSckHPeBiZTATUxUVFvOHXbionDUwoa2onxSUr0nAeQ974wTfyOAec92mmFA61pgYD_CgCXzbNhHi75BhLalRjhkzbtWI1r3S2Nmbv-ZEF87hQrdyBHHfoXsFIKydbP2bPohLaHq2TprQqwDK6v_YpHAJP7Q91G5BV8iVVEWhz52qR07qECuLXI7S1wLCsS25K7AT67PTa3WnvSFx4JbvfUYotX1REw
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiI3ZTlhOWVjNS1mOTJmLTQyMGUtOTdkZS0wMDZjOTY0YmYwMmEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMGQ3MzI5YmMtNTI1Ni00MmU2LTkxZGEtNzQzYTNhZmUwOGRmIiwic2lkIjoiN2NmOWYwMzktYWU3MC00YWJmLWEyNTItZDVjYTViNjZjNDY2IiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1NDg2NjYzNDcsImV4cCI6MTU1NjQ0MjM0N30.HNxgyVUCQ2uWWuyam2zkoZiULYlgjczSATT_F1jA-p-ldZSPP2lCKm4fpeFrlh1ABPlOv-WNBJahuuGS-9tIqg0SAyxvPy-SyEe_3YAiq2hYw8hV3SRnT-qmSckHPeBiZTATUxUVFvOHXbionDUwoa2onxSUr0nAeQ974wTfyOAec92mmFA61pgYD_CgCXzbNhHi75BhLalRjhkzbtWI1r3S2Nmbv-ZEF87hQrdyBHHfoXsFIKydbP2bPohLaHq2TprQqwDK6v_YpHAJP7Q91G5BV8iVVEWhz52qR07qECuLXI7S1wLCsS25K7AT67PTa3WnvSFx4JbvfUYotX1REw
; end auth token