loglevel=warn
@it-enterprise:registry=http://tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 1/13/2020.
; begin auth token
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiJhMjU5ODBiMy05Mjk1LTRiZjMtYjYzOS0zMzk5NGMxNTg0NDciLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNjQ0OWMwZjQtODAzZC00NWQzLWE1MTctNzNiNjA4NTFlMzE2Iiwic2lkIjoiZWM1M2NiY2EtNzE4MC00NTg2LThmNTktZjlkYTY5MDI3ZTU1IiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1NzExMzg4NzksImV4cCI6MTU3ODkxNDg3OX0.BXMr46BySnvbz0r8wAuku6s-ikfAdbIMeHCCYf6i33DY8cyLcUQlNcxOii1mJj3XPyFsf4SGxlvU6YnpbG9Rhiv-m7TIphOP16SRPxqTwNfJKPDo4LZ07bmAwW50yWDYvDDFRV_o-OWKgY77sO9Jn_Zxoi8sqihn5REehukRObMfpSofrmbeNKPld0Yptc_3CdyFqvPNHTWqol31mlSUFwHTvze36Wkf0F-XAptRCumAxIarPsuRkZAUxyJ6hUdF9fdkT5pO5y1xqs8uFs0OoB9Y9hYpvCKR-bIXUjYIpli7WSayRgM1O3Ckyk0ZGrv6Bbh0oet66kXQOxr1Hd2TyQ
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiJhMjU5ODBiMy05Mjk1LTRiZjMtYjYzOS0zMzk5NGMxNTg0NDciLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNjQ0OWMwZjQtODAzZC00NWQzLWE1MTctNzNiNjA4NTFlMzE2Iiwic2lkIjoiZWM1M2NiY2EtNzE4MC00NTg2LThmNTktZjlkYTY5MDI3ZTU1IiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1NzExMzg4NzksImV4cCI6MTU3ODkxNDg3OX0.BXMr46BySnvbz0r8wAuku6s-ikfAdbIMeHCCYf6i33DY8cyLcUQlNcxOii1mJj3XPyFsf4SGxlvU6YnpbG9Rhiv-m7TIphOP16SRPxqTwNfJKPDo4LZ07bmAwW50yWDYvDDFRV_o-OWKgY77sO9Jn_Zxoi8sqihn5REehukRObMfpSofrmbeNKPld0Yptc_3CdyFqvPNHTWqol31mlSUFwHTvze36Wkf0F-XAptRCumAxIarPsuRkZAUxyJ6hUdF9fdkT5pO5y1xqs8uFs0OoB9Y9hYpvCKR-bIXUjYIpli7WSayRgM1O3Ckyk0ZGrv6Bbh0oet66kXQOxr1Hd2TyQ
; end auth token