// Color variable
$primary: rgb(25,	118, 210);
$secondary: rgb(108, 117, 125);
$danger: rgb(220, 53, 69);
$info: rgb(0, 195, 255);
$warning: rgb(255, 145, 0);
$success: rgb(28, 116, 48);
$white: #fff;

$transparentPrimary: rgba(25,	118, 210, .1);
$transparentSecondary: rgba(108, 117, 125, .1);
$transparentDanger: rgba(220, 53, 69, .1);
$transparentInfo: rgba(0, 195, 255, .1);
$transparentWarning: rgba(255, 145, 0, .1);
$transparentSuccess: rgba(28, 116, 48, .1);