@{ Layout = null; }
@using Shared.WebExtensions;
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>TestEds</title>

	<script type='text/javascript' nonce="@Html.GetScriptNonce()">
		var initialized = false;

		EU_MODULE_INITIALIZE_ON_LOAD = true;
		window.EUSignCPModuleInitialized = onload;

		function onload() {
			initialized = true;
		}

		function initialize(params, success, error) {
			if (initialized) {
				euSignHelper.initialize(params, success, error);
			} else {
				initializeWithInterval(params, success, error);
			}
		}

		function initializeWithInterval(params, success, error) {
			setTimeout(function () {
				initialize(params, success, error);
			},
				50);
		}

		function verifyFile(fileUrl, signFileUrl, hash) {
			euSignHelper.verifyFile(fileUrl, signFileUrl, hash);
		}

		function verifyData(signedData, data, internal, dateTime) {
			euSignHelper.verifyData(signedData, data, false, internal, dateTime);
		}

		function needProvideKey() {
			return !euSignHelper.hasPrivateKey();
		}

		function readStoredPrivateKey(callback) {
			euSignHelper.readPrivateKeyAsStoredFile(callback);
		}

		function signData(data, internal, keyFiles, password) {
			euSignHelper.signData(data, internal, keyFiles, password);
		}

		function getKeyInfo(convertFunction, keyFiles, password) {
			euSignHelper.getKeyInfo(convertFunction, keyFiles, password);
		}

		function signDataArray(data, internal, keyFiles, password) {
			euSignHelper.signDataArray(data, internal, keyFiles, password);
		}

		function signFile(fileUrl, hash) {
			euSignHelper.signFile(fileUrl, hash);
		}

		function envelopFile(data, certificates) {
			euSignHelper.setRecepientsCertificates(certificates);
			euSignHelper.envelopFile(data);
		}

		function developFile(data) {
			euSignHelper.developFile(data);
		}

		function readPrivateKey(callback, keyFiles, password, certificates) {
			euSignHelper.readKeyAndDoAction(keyFiles, password, callback, certificates);
		}

		function setCa(index) {
			return euSignHelper.setCASettings(index);
		}

		function needPrivateKeyCertificates() {
			return euSignHelper.loadPKCertsFromFile;
		}

		function setLocalStorage(local) {
			euSignHelper.setLocalStorage(local);
		}

		function clearKey() {
			euSignHelper.clearKey();
		}

	</script>
	<script src="~/js/eds/euutils.js" type="text/javascript"></script>
	<script src="~/js/eds/euscpt.js?q=20180905" type="text/javascript"></script>
	<script src="~/js/eds/euscpm.js?q=20171124" type="text/javascript"></script>
	<script src="~/js/eds/euscp.js?q=20171124" type="text/javascript"></script>
	<script src="~/js/eds/euscripts.js?v=20190720" type="text/javascript"></script>

</head>
<body>
	<div>

	</div>
</body>
</html>
