loglevel=warn
@it-enterprise:registry=http://tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/
always-auth=true
; Считайте этот токен проверки подлинности паролем. Не передавайте его никому, даже сотрудникам службы поддержки Майкрософт. Срок действия токена истечет не позже 25.06.2020.
; begin auth token
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiIzMGIzNjNiNS00MWM0LTQ1ZjgtYTAxNC0wMjE3MWVhNzU2MDgiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiOWNkYzZhYjAtOWY1YS00NjExLWIwMTQtYzhmYzAyY2I5Njk2Iiwic2lkIjoiYzBhMmQ3ZWEtODgwNy00MGMzLWJjM2MtNGE3NjY1OTY5ZjQ0IiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1ODUzMTQxOTQsImV4cCI6MTU5MzA5MDE5NH0.m9dV5pM0CUumkY15y5bf_4Ok2xmMqhS-ACmGIc3VpWfJf8K5Q1wpY6gy_8mZVcOHDq6GDdwKDyKikiMeEzWdS2XwwXnuMxk0AT127an-lq8wqlS6c2yN2MJ8YDq_QwuTGTpInPBBkU4Ki0MaBMheX4gNrtL-ugK81oZlgnDS09OfrtwVAjJYu3JJLFUeJaxnQt0v7Wtr4l36o9DbLcUafu4VDCkbtEI_fbHec5J3Q_qjPhJkWl6PN3l2EgTinZdJH9D4PDaunudgDsOjZBJAtlYiGRxifNrCh5H9bH_rz4WUFOyhlYFFzlUn-YwgJboLQ4WsUUIHAylnvqyaC3n2Hg
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiIzMGIzNjNiNS00MWM0LTQ1ZjgtYTAxNC0wMjE3MWVhNzU2MDgiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiOWNkYzZhYjAtOWY1YS00NjExLWIwMTQtYzhmYzAyY2I5Njk2Iiwic2lkIjoiYzBhMmQ3ZWEtODgwNy00MGMzLWJjM2MtNGE3NjY1OTY5ZjQ0IiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1ODUzMTQxOTQsImV4cCI6MTU5MzA5MDE5NH0.m9dV5pM0CUumkY15y5bf_4Ok2xmMqhS-ACmGIc3VpWfJf8K5Q1wpY6gy_8mZVcOHDq6GDdwKDyKikiMeEzWdS2XwwXnuMxk0AT127an-lq8wqlS6c2yN2MJ8YDq_QwuTGTpInPBBkU4Ki0MaBMheX4gNrtL-ugK81oZlgnDS09OfrtwVAjJYu3JJLFUeJaxnQt0v7Wtr4l36o9DbLcUafu4VDCkbtEI_fbHec5J3Q_qjPhJkWl6PN3l2EgTinZdJH9D4PDaunudgDsOjZBJAtlYiGRxifNrCh5H9bH_rz4WUFOyhlYFFzlUn-YwgJboLQ4WsUUIHAylnvqyaC3n2Hg
; end auth token