@font-face {
    font-family: 'GothamPro';
    src:  url('../assets/typo/GothamPro-Bold/GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GothamPro';
    src:  url('../assets/typo/GothamPro-Medium/GothamPro-Medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GothamPro';
    src: url('../assets/typo/GothamPro/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }