loglevel=warn
@it-enterprise:registry=http://tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/
always-auth=true
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=4BD67245-F31C-4022-AD07-EA8E023393AE
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 6/11/2020.
; begin auth token
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiJjYzUxNjE3YS02NGRmLTRiMzYtOTUxMy05YThmODNmNDg2NGMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZTFjYmVlNzMtNmMwZS00MTZiLWE2YTktY2JkM2UwMjdkMzMwIiwic2lkIjoiODA0OWViZmEtZTJhZC00Y2MyLWE3YjEtMGU3MDk0Yjk3MTFmIiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1ODQwOTYxOTcsImV4cCI6MTU5MTg3MjE5N30.KZWQIOiIw_Izfx0rrz3RBPNMaAlsYTZcKZGG6m-slEdvWaDt1Wp7VaBK4QwWq_99AqToTDvjJGuIYY5fFpL2fX8-dhjY8N503Eg1HSUuFk7Kkwe3kP1Pk1Z22tumaF9LRVVymZKsK0B_Lzk_VOrvtQDPI2L9SpwQI8xeEaZaW-S0sgONxhcxi_vSfk0w1_zfVcCGqf9qqd4Zp217YSpI-4lPoE45zEyyZPNkp3llE1nPhcqIuQN1R-kfZST1KTW0rvwaXYjdLybrEjvv23lXxx3PXyQ4CHsydjPI29IjuPO8dLpt5vQwJ7Kj8HFpZ4sMRyz9CEyYvyuWKcRdk9c5Nw
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiJjYzUxNjE3YS02NGRmLTRiMzYtOTUxMy05YThmODNmNDg2NGMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZTFjYmVlNzMtNmMwZS00MTZiLWE2YTktY2JkM2UwMjdkMzMwIiwic2lkIjoiODA0OWViZmEtZTJhZC00Y2MyLWE3YjEtMGU3MDk0Yjk3MTFmIiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1ODQwOTYxOTcsImV4cCI6MTU5MTg3MjE5N30.KZWQIOiIw_Izfx0rrz3RBPNMaAlsYTZcKZGG6m-slEdvWaDt1Wp7VaBK4QwWq_99AqToTDvjJGuIYY5fFpL2fX8-dhjY8N503Eg1HSUuFk7Kkwe3kP1Pk1Z22tumaF9LRVVymZKsK0B_Lzk_VOrvtQDPI2L9SpwQI8xeEaZaW-S0sgONxhcxi_vSfk0w1_zfVcCGqf9qqd4Zp217YSpI-4lPoE45zEyyZPNkp3llE1nPhcqIuQN1R-kfZST1KTW0rvwaXYjdLybrEjvv23lXxx3PXyQ4CHsydjPI29IjuPO8dLpt5vQwJ7Kj8HFpZ4sMRyz9CEyYvyuWKcRdk9c5Nw
; end auth token
