@model ConfirmEmailViewModel
<div class="register-page">
	<div class="page-header">
		<h1>Register</h1>
	</div>

	<div class="row">

		<div class="col-12">
			<p>
				Please check your email (@Model.Email) to confirm your account.
			</p>
		</div>
	</div>
</div>
